@using Microsoft.Extensions.Localization
@using ResourceKey = PapyrusClient.Resources.Ui.Dialogs.FileDetailsDialog
@implements IDialogContentComponent<WorkScheduleFile>
@inject IStringLocalizer<FileDetailsDialog> Localizer

@* Header *@
<FluentDialogHeader ShowDismiss="false">
    <FluentStack Orientation="@Orientation.Horizontal"
                 HorizontalAlignment="@HorizontalAlignment.Start"
                 VerticalAlignment="@VerticalAlignment.Center">
        <FluentLabel Typo="Typography.Header">
            @Localizer[nameof(ResourceKey.DialogTitle)]
        </FluentLabel>
        <FluentSpacer/>
        <FluentButton BackgroundColor="rgba(0, 0, 0, 0)"
                      OnClick="@CloseAsync">
            <FluentIcon Value="@(new Icons.Regular.Size24.Dismiss())"
                        Color="@(Color.Info)"/>
        </FluentButton>
    </FluentStack>

    <FluentTabs @bind-ActiveTabId="@_activeTab">
        <FluentTab Id="@GetActiveTabAsString(ActiveTabType.Status)"
                   Label="@Localizer[nameof(ResourceKey.StatusLabel)]"/>
        <FluentTab Id="@GetActiveTabAsString(ActiveTabType.Options)"
                   Label="@Localizer[nameof(ResourceKey.OptionsLabel)]"/>
        <FluentTab Id="@GetActiveTabAsString(ActiveTabType.Details)"
                   Label="@Localizer[nameof(ResourceKey.DetailsLabel)]"/>
    </FluentTabs>
</FluentDialogHeader>

@* Body *@
<FluentDialogBody>
    <FluentCard style="height: 100%; overflow-y: auto; word-break: break-word; scrollbar-gutter: stable;">
        @if (_activeTab.Equals(nameof(ActiveTabType.Status), StringComparison.OrdinalIgnoreCase))
        {
            <p>
                @(Content.Status switch
                {
                    WorkScheduleFile.State.Ok => Localizer[nameof(ResourceKey.FileStateOk)],
                    WorkScheduleFile.State.ReadError => Localizer[nameof(ResourceKey.FileStateReadError)],
                    WorkScheduleFile.State.ValidateError => Localizer[nameof(ResourceKey.FileStateValidateError)],
                    WorkScheduleFile.State.GeneralError => Localizer[nameof(ResourceKey.FileStateGeneralError)],
                    _ => Localizer[nameof(ResourceKey.FileStateGeneralError)]
                })
            </p>

            if (Content.Exception != null)
            {
                <FluentDivider Style="margin: 0.5rem 0"/>

                <p style="white-space: pre-wrap">
                    @Content.Exception.ToString()
                </p>
            }
        }
        else if (_activeTab.Equals(nameof(ActiveTabType.Options), StringComparison.OrdinalIgnoreCase))
        {
            <FluentMessageBar Title="@Localizer[nameof(ResourceKey.MessageBarTabNotImplementedTitle)]"
                              Intent="@MessageIntent.Info"
                              Type="@MessageType.Notification"
                              AllowDismiss="@false"
                              Style="border: 0.0625rem solid var(--accent-fill-rest)">
                <p>@Localizer[nameof(ResourceKey.MessageBarTabNotImplementedBody)]</p>
            </FluentMessageBar>
        }
        else if (_activeTab.Equals(nameof(ActiveTabType.Details), StringComparison.OrdinalIgnoreCase))
        {
            <p><strong>@Localizer[nameof(ResourceKey.Id)]</strong>: @Content.Id.ToString()</p>
            <p><strong>@Localizer[nameof(ResourceKey.File)]</strong>: @Content.Name</p>
            <p><strong>@Localizer[nameof(ResourceKey.SizeInBytes)]</strong>: @Content.SizeInyBytes.ToString()</p>
        }
        else
        {
            <FluentMessageBar Title="@Localizer[nameof(ResourceKey.MessageBarTabNotFoundTitle)]"
                              Intent="@MessageIntent.Warning"
                              Type="@MessageType.Notification"
                              AllowDismiss="@false"
                              Style="border: 0.0625rem solid var(--warning)">
                <p>@Localizer.GetString(nameof(ResourceKey.MessageBarTabNotFoundBody), _activeTab)</p>
            </FluentMessageBar>
        }
    </FluentCard>
</FluentDialogBody>

@* Footer *@
<FluentDialogFooter>
    <FluentButton Appearance="@Appearance.Accent"
                  OnClick="@CloseAsync">
        @Localizer[nameof(ResourceKey.Close)]
    </FluentButton>
</FluentDialogFooter>