@implements IDialogContentComponent<WorkScheduleFile>

@* Header *@
<FluentDialogHeader ShowDismiss="false">
    <FluentStack Orientation="@Orientation.Horizontal"
                 HorizontalAlignment="@HorizontalAlignment.Start"
                 VerticalAlignment="@VerticalAlignment.Center">
        <FluentLabel Typo="Typography.Header">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
        <FluentSpacer/>
        <FluentButton BackgroundColor="rgba(0, 0, 0, 0)"
                      OnClick="@CloseAsync">
            <FluentIcon Value="@(new Icons.Regular.Size24.Dismiss())"
                        Color="@(Color.Info)"/>
        </FluentButton>
    </FluentStack>
</FluentDialogHeader>

@* Body *@
<FluentDialogBody>

    <FluentTabs @bind-ActiveTabId="@ActiveId">
        <FluentTab Id="tab-1"
                   Label="Status">
            <FluentDivider Orientation="@Orientation.Horizontal"
                           Style="margin: 4px 0;"/>
            <p>@GetMessage()</p>
            @if (Content.Status.Details != null)
            {
                <FluentDivider Orientation="@Orientation.Horizontal"
                               Style="margin: 4px 0;"/>
                <p style="white-space: pre-wrap; word-break: break-word; max-height: 235px; height: 100%; overflow-y: auto">
                    @Content.Status.Details
                </p>
            }
        </FluentTab>
        <FluentTab Id="tab-2"
                   Label="Options">
            <FluentDivider Orientation="Orientation.Horizontal"
                           Style="margin: 4px 0;"/>
            <p>This tab will be available in a future update.</p>
        </FluentTab>
        <FluentTab Id="tab-3"
                   Label="Metadata">
            <FluentDivider Orientation="Orientation.Horizontal"
                           Style="margin: 4px 0;"/>
            <FluentLabel>ID: @Content.Id</FluentLabel>
            <FluentLabel>Name: @Content.Name</FluentLabel>
            <FluentLabel>Size (in bytes): @Content.SizeInyBytes</FluentLabel>
        </FluentTab>
    </FluentTabs>
</FluentDialogBody>

@* Footer *@
<FluentDialogFooter>
    <FluentButton Appearance="@Appearance.Accent"
                  OnClick="@CloseAsync">
        @Dialog.Instance.Parameters.PrimaryAction
    </FluentButton>
</FluentDialogFooter>